.home-cont {
  height: 100vh;
}

.searchBlock {
}

.card-img-company {
  max-height: 125px;
  object-fit: contain;
}

.description-job {
  width: 70%;
  font-size: 50% !important;
}

.favourite {
  background-color: transparent;
  border: none;
}

.fav-bar {
  position: sticky;
  right: 0;
  top: 10px;
  z-index: 10;
}

.btn-fav {
  width: 200px;
}
